<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="smart-discharge-navigator.ZPM">
    <Module>
      <Name>smart-discharge-navigator</Name>
      <Version>1.2.4</Version>
      <Packaging>module</Packaging>
      <Description>AI Agent for Hospital Readmission Risk built on IRIS for Health.</Description>
      <Keywords>FHIR,AI,readmission,clinical,discharge</Keywords>
      <Author>Carlos Eduardo Dias Duarte</Author>
      <License>MIT</License>
    </Module>
  </Document>
</Export>
